In [2]:
pip install folium

Collecting folium
  Downloading folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.7.2-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from folium) (2.31.0)
Collecting xyzservices (from folium)
  Downloading xyzservices-2024.9.0-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from jinja2>=2.9->folium) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests->folium) (2024.2.2)
Downloading folium-0.17.0-py2.py3-none-any.whl (108 kB)
Downloading branca-0.7.2-py3-none-any.whl (25 kB)
Downloading xyzservices-2024.9.0-py3-none-any.whl (85 kB)
Installing collected packages: xyzservices, branca, folium
Successfully installed branca-0.7.2 folium-0.17.0 xyzservices-2024.9.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [4]:
pip install plotly

Requirement already satisfied: plotly in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (5.24.1)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages)

Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from plotly) (24.0)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import folium
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.templates.default = "plotly_white"

In [10]:
metro_data = pd.read_csv('Delhi-Metro-Network.csv')

In [11]:
metro_data.head(20)

,Station ID,Station Name,Distance from Start (km),Line,Opening Date,Station Layout,Latitude,Longitude
0,1,Jhil Mil,10.3,Red line,2008-04-06,Elevated,28.675790,77.312390
1,2,Welcome [Conn: Red],46.8,Pink line,2018-10-31,Elevated,28.671800,77.277560
2,3,DLF Phase 3,10.0,Rapid Metro,2013-11-14,Elevated,28.493600,77.093500
3,4,Okhla NSIC,23.8,Magenta line,2017-12-25,Elevated,28.554483,77.264849
4,5,Dwarka Mor,10.2,Blue line,2005-12-30,Elevated,28.619320,77.033260
5,6,Dilli Haat INA [Conn: Yellow],24.9,Pink line,2018-06-08,Underground,28.574408,77.210241
6,7,Noida Sector 143,11.5,Aqua line,2019-01-25,Elevated,28.502663,77.426256
7,8,Moolchand,15.1,Voilet line,2010-03-10,Elevated,28.564170,77.234230
8,9,Chawri Bazar,15.3,Yellow line,2005-03-07,Underground,28.649310,77.226370
9,10,Maya Puri,12.8,Pink line,2018-03-14,Elevated,28.637179,77.129733
10,11,Central Secretariat [Conn: Violet],19.4,Yellow line,2005-03-07,Underground,28.614740,77.211910
11,12,Noida Sector 146,15.8,Aqua line,2019-01-25,Elevated,28.408229,76.963024
12,13,Tikri Border,20.2,Green line,2018-06-24,Elevated,28.688025,76.964083
13,14,Jangpura,12.9,Voilet line,2010-03-10,Underground,28.584300,77.237660
14,15,Major Mohit Sharma,5.7,Red line,2019-08-03,Elevated,28.677611,77.358143
15,16,Majlis Park,0.0,Pink line,2018-03-14,Elevated,28.724431,77.181964
16,17,Bhikaji Cama Place,22.6,Pink line,2018-06-08,Underground,28.567900,77.187016
17,18,Mundka Industrial Area (MIA),15.0,Green line,2018-06-24,Elevated,28.683449,77.017133
18,19,Belvedere Towers,8.0,Rapid Metro,2013-11-14,Elevated,28.493600,77.093500
19,20,Adarsh Nagar,4.7,Yellow line,2009-04-02,Elevated,28.716420,77.170460

In [12]:
metro_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Station ID                285 non-null    int64
 1   Station Name              285 non-null    object
 2   Distance from Start (km)  285 non-null    float64
 3   Line                      285 non-null    object
 4   Opening Date              285 non-null    object
 5   Station Layout            285 non-null    object
 6   Latitude                  285 non-null    float64
 7   Longitude                 285 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 17.9+ KB

In [19]:
import plotly.express as px 

df = px.data.tips()
df

#plot = px.line(df, x = 'day', y = 'time') 
#plot.show()

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
import plotly.express as px 

# using the iris dataset
df = px.data.iris() 

# plotting the line chart
fig = px.line(df, x="species", y="petal_width") 

# showing the plot
fig.show()